<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.emp.mapper.EmpMapper">

	<!-- 전체조회 -->
	<select id="selectEmp" resultType="empVO">
		SELECT
		EMPLOYEE_ID,
		FIRST_NAME,
		LAST_NAME,
		EMAIL,
		PHONE_NUMBER,
		HIRE_DATE,
		JOB_ID,
		SALARY,
		COMMISSION_PCT,
		MANAGER_ID,
		DEPARTMENT_ID
		FROM employees
	</select>

	<!-- 단건조회 -->
	<select id="selectEmpById" resultType="empVO" >
SELECT
		EMPLOYEE_ID,
		FIRST_NAME,
		LAST_NAME,
		EMAIL,
		PHONE_NUMBER,
		HIRE_DATE,
		JOB_ID,
		SALARY,
		COMMISSION_PCT,
		MANAGER_ID,
		DEPARTMENT_ID
FROM EMPLOYEES
WHERE EMPLOYEE_ID
		= #{employeeId}
	</select>
	
	
	<!-- 등록 -->
	<insert id="insertEmp">
INSERT INTO EMPLOYEES(
		EMPLOYEE_ID,
		FIRST_NAME,
		LAST_NAME,
		EMAIL,
		PHONE_NUMBER,
		HIRE_DATE,
		JOB_ID,
		SALARY,
		COMMISSION_PCT,
		MANAGER_ID,
		DEPARTMENT_ID)
VALUES(
		#{employeeId},
		#{firstName},
		#{lastName},
		#{email},
		#{phoneNumber},
		#{hireDate},
		#{jobId},
		#{salary},
		#{commissionPct},
		#{managerId},
		#{departmentId})
	</insert>
		<!-- 수정 -->
		<!-- 삭제 -->
</mapper>