<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.emp.mapper.EmpMapper">

 <!--<select id="selectEmp" resultType="com.example.demo.emp.mapper.EmpVO">
		SELECT  EMPLOYEE_ID,
				FIRST_NAME,
				LAST_NAME,
				EMAIL,
				PHONE_NUMBER,
				HIRE_DATE,
				JOB_ID,
				SALARY,
				COMMISSION_PCT,
				MANAGER_ID,
				DEPARTMENT_ID
		  FROM  EMPLOYEES
	</select>
 타입알리아스가 들어가있어서 대소문자 상관x SELECT  EMPLOYEE_ID,
				FIRST_NAME,
				LAST_NAME,
				EMAIL,
				PHONE_NUMBER,
				HIRE_DATE,
				JOB_ID,
				SALARY,
				COMMISSION_PCT,
				MANAGER_ID,
				DEPARTMENT_ID
		  FROM  EMPLOYEES-->
 <!--  중복sql -->
 <sql id="criterid">
        <where>
       <if test="firstName != null" >
           UPPER(FIRST_NAME) LIKE '%' || UPPER(#{firstName})||'%'
       </if>
       <if test="departmentId != null">
          AND DEPARTMENT_ID = #{departmentId}
       </if>
       </where>
 </sql>
 <!-- 부서단건조회 -->
 <select id="selectDeptById" resultType="deptVO">
 	select *
 	 from departments
 	where department_id = #{departmentId}
 </select>
 <!-- 건수조회 -->
 <select id="selectCount" resultType="Long">
 	select count(*)
 	from employees
 	<include refid="criterid"></include>
 </select>
 
 <resultMap type="empVO" id="empMap">
 	<association property="deptVO" column="department_id" javaType="DeptVO" select="selectDeptById"/>
 </resultMap>
 
 
 <!-- 전체조회 (페이징,검색)  FIRST_NAME LIKE '%' || #{firstName} || '%'-->
<select id="selectEmp" resultType="empVO">
	 SELECT * FROM (
                 SELECT  /*+ INDEX_DESC(EMPLOYEES EMP_EMP_ID_PK) */
                  ROWNUM RN,E.*
                  FROM EMPLOYEES E
			  <include refid="criterid"></include>
              )B WHERE RN BETWEEN #{first} AND #{last}
</select>
	<!-- 단건조회 -->
	 <select id="selectEmpById" parameterType="Long" resultMap="empMap">
		SELECT  EMPLOYEE_ID,
				FIRST_NAME,
				LAST_NAME,
				EMAIL,
				PHONE_NUMBER,
				HIRE_DATE,
				JOB_ID,
				SALARY,
				COMMISSION_PCT,
				MANAGER_ID,
				DEPARTMENT_ID
		  FROM  EMPLOYEES
		  WHERE EMPLOYEE_ID = #{employeeId}
	</select>
	<!-- 등록 -->
	<insert id="insertEmp">
        INSERT INTO EMPLOYEES (
            EMPLOYEE_ID,
            FIRST_NAME,
            LAST_NAME,
            EMAIL,
            PHONE_NUMBER,
            HIRE_DATE,
            JOB_ID,
            SALARY,
            COMMISSION_PCT,
            MANAGER_ID,
            DEPARTMENT_ID
        )
        VALUES (
            #{employeeId},
            #{firstName},
            #{lastName},
            #{email},
            #{phoneNumber},
            #{hireDate},
            #{jobId},
            #{salary},
            #{commissionPct},
            #{managerId},
            #{departmentId}
        )
	</insert>
	
	
	<!-- <select id="selectEmp" resultType="map">
		SELECT  first_name "firstName",
		        last_name "lastName"
		  FROM  EMPLOYEES
	</select>-->

</mapper>