<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}" > <!-- 레이아웃있는위치: 폴더명/파일명 -->
 <head>
 <meta charset="UTF-8">
 <title>Insert title here</title>
 <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> -->
 <style>
  .salaryed{color:red;}
  .salarybold{font-weight: bold;}
 </style>
 <script>
 	function gopage(p){
		frmSearch.page.value = p;
		frmSearch.submit();
		//location.href= 'empList?page=' + p
	}
	function init(){
		frmSearch.departmentId.value=""
		frmSearch.firstName.value=""
		frmSearch.managerId.value=""
	}
 </script>
 </head>
 <body  layout:fragment="content">
 <h1>사원목록</h1>
 <!--/*[[${}]]는 값을 출력 <%--%>*/-->
 <!-- 배열크기알려주는역할 <span th:text="${#lists.size(empList)}"></span>-->
 전체건수 : [[${#lists.size(empList)}]] 
     <!--  검색 폼 시작 -->
	<form name="frmSearch" th:object="${empVO}" action="empList">
		<input type="hidden" name="page">
		<select name="departmentId" th:value="*{departmentId}">
			<option value="">선택
			<option value="10" th:selected="*{departmentId}=='10'">Administration
			<option value="20" th:selected="*{departmentId}=='20'">	Marketing
			<option value="50" th:selected="*{departmentId}=='50'">	Shipping
			<option value="60" th:selected="*{departmentId}=='60'">	IT
			<option value="80" th:selected="*{departmentId}=='80'">	Sales
			<option value="90" th:selected="*{departmentId}=='90'">	Executive
			<option value="110" th:selected="*{departmentId}=='100'">Accounting
		</select>	
		firstName<input name="firstName" th:value="*{firstName}">
		ManagerId<input name="managerId" th:value="*{managerId}">
		<button type="button" onclick="gopage(1)">검색</button>
		<button type="button" onclick="init()">초기화</button>
	</form>
    
    <!--  검색 폼 끝 -->
 <table class="table">
  <tr>
    <th>No</th>
    <th>employee_id</th>
    <th>first_name</th>
    <th>last_name</th>
    <th>salary</th>
    <th>hire_date</th>
  </tr>
  <!-- each = for<td th:text="${empStat.count}">1</td>
  tag.innserHTML="<h1>aaa</h1>"(html태그) 
  tag.innserText="<h1>aaa</h1>"(글자그대로보임,텍스트형태로) 
   -->
  <tr th:each="emp, stat : ${empList}">
  	<td th:text="${stat.index}">1</td>
    <td th:text="${emp.employeeId}">100</td>
    <!-- 상세화면 링크 th:걸려있으면 a태크x 
    1.  1. | |, <td><a th:href="|/emp?employeeId=${emp.employeeId}|" th:text="${emp.firstName}"> 길동</a></td>
    -->
    <td><a th:href="@{/emp(employeeId=${emp.employeeId})}" th:text="${emp.firstName}"> 길동</a></td>
    <td th:text="${emp.lastName}">홍</td>
   <!--  <td th:text="${#numbers.formatCurrency(emp.salary)}" 
    class="salarybold"
    th:classappend="${emp.salary>10000 ? 'salaryed' :_}" >20000</td> -->
     <td class="salarybold"
	    th:classappend="${emp.salary>10000 ? 'salaryed' :_}" >
	    [[${emp.salary}]] <button th:if="${emp.salary < 10000}">신청</button>
    </td>
    <!--<td th:text="${#numbers.formatDecimal(emp.salary,3,'POINT',2,'COMMA')}">20000</td>-->
    <td th:text="${#dates.format(emp.hireDate,'yyyy-MM')}">2024-01-01</td>
  </tr>
 </table>
 <!-- 페이징 시작 -->
	<nav aria-label="...">
	  <ul class="pagination">
	    <li class="page-item" th:if="${paging.startPage} > 1 ">
	        <a class="page-link" th:href="|javascript:gopage(${paging.startPage-1})|">Previous</a></li>

	    <li th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}" 
	        class="page-item" 
	        th:addclass="${num} == ${paging.page} ? active">
	        <a class="page-link" th:href="|javascript:gopage(${num})|"  th:text="${num}">2</a></li>
	    
	    <li class="page-item" th:classappend="${paging.endPage} <= ${paging.lastPage} ? disabled">
	        <a class="page-link" th:href="|javascript:gopage(${paging.endPage+1})|">Next</a></li>
	  </ul>
	</nav>
	<!-- 페이징 종료 -->
	<script th:inline="javascript"> //자바객체를 자바스트립트객체로 바꾸어서 볼수가 있게 된다.
		let list = `[[${empList}]]`  // ``없이 그냥실행하면 /*[[${empList}]]*/
	</script>
 </body>
 </html>